<mtapp:setting
    id="fjfsas_apikey"
    label="<__trans phrase="Google Maps API Key">"
    hint="<__trans phrase="Input your Google Maps API Key.">"
    show_hint="1">
    <input type="text" name="fjfsas_apikey" id="fjfsas_apikey" value="<$mt:var name="fjfsas_apikey"$>" />
</mtapp:setting>
